{
  "presets": [
    ["env", {
      "modules": false
    }],
    "react"
  ],
  "env": {
    "commonjs": {
      "plugins": [
        ["transform-es2015-modules-commonjs", {
          "strict": false,
          "allowTopLevelThis": true
        }]
      ]
    }
  }
}